
@{
    ViewBag.Title = "ListagemItens";
}

<h2>ListagemItens</h2>

<div>
    <b>Id</b>
</div>
<div>
    @ViewData["Id"]
</div>
<div>
    <b>Valor</b>
</div>
<div>
    @ViewData["Valor"]
</div>
<div>
    <b>Descricao</b>
</div>
<div>
    @ViewData["Descricao"]
</div>
<div>
    <b>Estoque</b>
</div>
<div>
    @ViewData["Estoque"]
</div>
<a href="CadastroItens" title="Voltar">Voltar</a>

