
@{
    ViewBag.Title = "ListagemVendas";
}

<h2>ListagemVendas</h2>

<div>
    <b>Valor Venda</b>
</div>
<div>
    @ViewData["Valor"]
</div>
<div>
    <b>Item</b>
</div>
<div>
    @ViewData["Item"]
</div>
<div>
    <b>Quantidade</b>
</div>
<div>
    @ViewData["Quantidade"]
</div>
<div>
    <b>Cliente</b>
</div>
<div>
    @ViewData["Cliente"]
</div>
<a href="CadastroVendas" title="Voltar">Voltar</a>